html {
  height: 100%;
  width: 100%;
}
.container{
max-width:600px;
margin-left:auto;
margin-right:auto;
background-color:transparent;
}

h1{
  font-family:cursive;
  color:black;
  font-size:40px;
  text-align:center;
}

h2{
  font-family:Georgia;
  color:darkolivegreen;
  text-align:center;
}

div{
  background-color:darkolivegreen;
  padding: 30px;
  padding-bottom:20px;
  padding-top:20px;
  margin:20px;
}
div.center{
  text-align:center;
  
}

.white-text{
  color:white;
}

.green{
  color:white;
  background-color:darkolivegreen;
  font-size:18px;
  margin-bottom:10px;
  font-style:italic;
}

a{
  color:white;
}

a:hover{
  background-color:darkgray;
  font-size:15px;
}
p.center{
  text-align:center;
  padding-bottom:10px;
}